body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
}

.logo>.first-span {
    color: #2E2F42;
    ;
}

.list {
    list-style: none;
}

.main-element {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.main-element:hover,
.main-element:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-data {
    text-decoration: none;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-data:hover,
.contact-data:focus {
    color: #404bbf;
}
.down {
    background-color: #2e2f42;
}

.logo>.second-span {
    color: #F4F4FD;
}